<div class="mainbox">
    <div class="subbox">
        <div class="left">
            <div class="top">Shop Non-stop</div>
            <div class="bottom">Trusted by more than 1 corore Indians <br>
            Cash on Delivery | Free Delivery
            </div>
        </div>
        <div class="right">
            <div class="columns">
                <div class="heading">Get to Know Us</div>
                <div class="about">
                    <ul>
                        <li>Know Us</li>
                        <li>Why We</li>
                        <li>Our Motive</li>
                        <li>Product Range</li>
                    </ul>
                </div>
            </div>
            <div class="columns">
                <div class="heading">Get to Know Us</div>
                <div class="about">
                    <ul>
                        <li>Know Us</li>
                        <li>Why We</li>
                        <li>Our Motive</li>
                        <li>Product Range</li>
                    </ul>
                </div>
            </div>
            <div class="columns">
                <div class="heading">Get to Know Us</div>
                <div class="about">
                    <ul>
                        <li>Know Us</li>
                        <li>Why We</li>
                        <li>Our Motive</li>
                        <li>Product Range</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottombox">
        <hr>
        <div class="conclusion">All rights are reserved to politicize</div>
    </div>
</div>