<div class="mainbox">
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/shirt.svg" alt="" style="background-color: green;">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/allproducts.svg" alt="" style="background-color: yellow;">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/connectivity.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/hoatelbed.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/tvremote.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/books.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/lighting.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
        <hr>
    </div>
</div>

<div class="mobilebox">
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/shirt.svg" alt="" style="background-color: green;">
            <div class="categories">Categories</div>
        </div>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/allproducts.svg" alt="" style="background-color: yellow;">
            <div class="categories">Categories</div>
        </div>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/connectivity.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
    </div>
</div>

<div class="mobilebox">
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/hoatelbed.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/tvremote.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
    </div>
    <div class="categorybox">
        <div class="boxess">
            <img src="../../assets/books.svg" alt="" style="background-color: rgb(30, 124, 205);">
            <div class="categories">Categories</div>
        </div>
    </div>
</div>