<div class="mainbox">
    <div class="insidebox">
        <div class="boxes">
            <div class="logo"><img src="../../assets/customers.svg" alt=""></div>
            <div class="text">45 crore + customer</div>
        </div>
        <div class="vr"></div>
        <div class="boxes">
            <div class="logo"><img src="../../assets/wallet.svg" alt=""></div>
            <div class="text">7 days secure & regular payment</div>
        </div>
        <div class="vr"></div>
        <div class="boxes">
            <div class="logo"><img src="../../assets/download.svg" alt=""></div>
            <div class="text">Low cost of doing business</div>
        </div>
        <div class="vr"></div>
        <div class="boxes">
            <div class="logo"><img src="../../assets/call24.svg" alt=""></div>
            <div class="text">One click Seller support</div>
        </div>
        <div class="vr"></div>
        <div class="boxes">
            <div class="logo"><img src="../../assets/offer.svg" alt=""></div>
            <div class="text">Access to the big billion days and more</div>
        </div>
    </div>
</div>
<div class="bottombox">Back to Top</div>