<div class="mainbox">
    <div class="secondbox">
        <div class="left">
            <div class="leftbox">
                <div class="firstline">MEGA</div>
                <div class="secondline">SALE</div>
                <div class="thirdline">OFFERS ALL WEEK EVERY DAY</div>
                <div class="fourthline">Lorem ipsum dolor, sit amet consectetur adipisicing elit</div>
                <button>Read More</button>
            </div>
        </div>
        <div class="right">
            <div class="rightbox">
                <div class="firstline"><span style="font-weight: bold;">BRAND</span> NAME</div>
                <div class="secondline">BEST IN MARKET</div>
                <div class="thirdline">SUNSCREEN</div>
                <div class="fourthline">SCREEN PROTECTION CREAM</div>
                <div class="fifthline">The best protention for your screen</div>
                <div class="sixthline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias in qui ipsam voluptates tenetur voluptas fugit beatae possimus dolores.</div>
            </div>
        </div>
    </div>
</div>